# Snowshoe hares

![image_description](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [5]:
import pandas as pd
import numpy as np
URL = 'https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701'

hares = pd.read_csv(URL)

In [3]:
hares['sex'].value_counts(dropna = False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

In [6]:
conditions = [hares['sex'].isin(['F', 'f', 'f ']),
             hares['sex'].isin(['M', 'm', 'm '])]

gender = ['female', 'male']

hares['sex_simple']=np.select(conditions, gender, default=np.nan)

print(hares['sex_simple'])

0        nan
1       male
2       male
3        nan
4        nan
        ...
3375     nan
3376     nan
3377     nan
3378     nan
3379    male
Name: sex_simple, Length: 3380, dtype: object

In [7]:
hares.groupby('sex_simple').weight.mean()

sex_simple
female    1365.164792
male      1349.935542
nan       1193.364055
Name: weight, dtype: float64